In [118]:
db = pd.read_csv("test.csv")

In [119]:
db

           date        hour         type confidence            status
0   16 May 2022  06 : 15 AM  TAXI DRIVER      0.76%     New Detection
1   16 May 2022  06 : 23 AM  TAXI DRIVER      0.76%  Passed Detection
2   16 May 2022  06 : 24 AM  TAXI DRIVER      0.76%     New Detection
3   18 May 2022  08 : 35 am  TAXI DRIVER      0.85%  Passed Detection
4   19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
5   19 May 2022  05 : 39 am  TAXI DRIVER      0.83%     New Detection
6   19 May 2022  05 : 45 AM  TAXI DRIVER      0.83%     New Detection
7   19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
8   19 May 2022  08 : 24 AM  TAXI DRIVER      0.84%     New Detection
9   19 May 2022  08 : 39 AM  TAXI DRIVER      0.84%  Passed Detection
10  19 May 2022  08 : 25 AM  TAXI DRIVER      0.84%     New Detection
11  19 May 2022  08 : 40 AM  TAXI DRIVER      0.84%  Passed Detection
12  19 May 2022  08 : 26 AM  TAXI DRIVER      0.84%     New Detection
13  19 May 2022  08 : 41 AM  TAXI DRIVER      0.84%  Passed Detection
14  19 May 2022  08 : 26 AM  TAXI DRIVER      0.84%     New Detection
15  19 May 2022  08 : 41 AM  TAXI DRIVER      0.84%  Passed Detection

In [120]:
for row in db.iterrows():
    print(row[1]['date'])

16 May 2022
16 May 2022
16 May 2022
18 May 2022
19 May 2022
19 May 2022
19 May 2022
19 May 2022
19 May 2022
19 May 2022
19 May 2022
19 May 2022
19 May 2022
19 May 2022
19 May 2022
19 May 2022

In [121]:
latest = db['status'].value_counts()

In [122]:
latest

Passed Detection    8
New Detection       8
Name: status, dtype: int64

In [123]:
latest['Passed Detection']

8

In [124]:
latest['New Detection']

8

In [125]:
latest['New Detection'] - latest['Passed Detection']

0

In [126]:
test = db.iloc[[-1]]['confidence']

In [127]:
for row in db.iloc[[-1]].iterrows():
    print(row[1]['confidence'].split("%")[0])

0.84

In [128]:
db.iloc[[-1]].iterrows()['confidence']

TypeError: 'generator' object is not subscriptable

In [ ]:
db

          date        hour         type confidence            status
0  16 May 2022  06 : 15 AM  TAXI DRIVER      0.76%     New Detection
1  16 May 2022  06 : 23 AM  TAXI DRIVER      0.76%  Passed Detection
2  16 May 2022  06 : 24 AM  TAXI DRIVER      0.76%     New Detection
3  18 May 2022  08 : 35 am  TAXI DRIVER      0.85%  Passed Detection
4  19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
5  19 May 2022  05 : 39 am  TAXI DRIVER      0.83%     New Detection
6  19 May 2022  05 : 45 AM  TAXI DRIVER      0.83%     New Detection

7

In [ ]:
import pandas as pd

In [ ]:
db = pd.read_csv("test.csv")

In [ ]:

date_time = datetime.datetime.strptime(datetime.datetime.now().strftime("%H : %M"), "%H:%M")

ValueError: time data '09 : 58' does not match format '%H:%M'

In [ ]:
db

           date        hour         type confidence            status
0   16 May 2022  06 : 15 AM  TAXI DRIVER      0.76%     New Detection
1   16 May 2022  06 : 23 AM  TAXI DRIVER      0.76%  Passed Detection
2   16 May 2022  06 : 24 AM  TAXI DRIVER      0.76%     New Detection
3   18 May 2022  08 : 35 am  TAXI DRIVER      0.85%  Passed Detection
4   19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
5   19 May 2022  05 : 39 am  TAXI DRIVER      0.83%     New Detection
6   19 May 2022  05 : 45 AM  TAXI DRIVER      0.83%     New Detection
7   19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
8   19 May 2022  08 : 24 AM  TAXI DRIVER      0.84%     New Detection
9   19 May 2022  08 : 39 AM  TAXI DRIVER      0.84%  Passed Detection
10  19 May 2022  08 : 25 AM  TAXI DRIVER      0.84%     New Detection
11  19 May 2022  08 : 40 AM  TAXI DRIVER      0.84%  Passed Detection
12  19 May 2022  08 : 26 AM  TAXI DRIVER      0.84%     New Detection
13  19 May 2022  08 : 41 AM  TAXI DRIVER      0.84%  Passed Detection
14  19 May 2022  08 : 26 AM  TAXI DRIVER      0.84%     New Detection
15  19 May 2022  08 : 41 AM  TAXI DRIVER      0.84%  Passed Detection

In [ ]:
import datetime

str(datetime.timedelta(hours=15))

3669.0

In [ ]:
import datetime

time = "08:35"
time_two = "08:15"
date_time = datetime.datetime.strptime(time, "%H:%M")
date_timetwo = datetime.datetime.strptime(time_two, "%H:%M")

if(date_time > date_timetwo):
    print("true")

true

29100.0

In [ ]:
str(datetime.timedelta(seconds=seconds))

'1:01:09'

In [ ]:
import requests, json
BASE_URL = "https://api.openweathermap.org/data/2.5/weather?"
URL = BASE_URL + "q=khouribga&appid=b95aec434694dd2839ad0fd6810ef875"
response = requests.get(URL)

if response.status_code == 200:
    data = response.json()
    print(data['main'])
    weather = data['main']
else:
   print("Error in the HTTP request")

{'temp': 302.29, 'feels_like': 300.63, 'temp_min': 302.29, 'temp_max': 302.29, 'pressure': 1014, 'humidity': 10, 'sea_level': 1014, 'grnd_level': 921}

In [ ]:
for i in weather.values():
    print(i)

302.29
300.63
302.29
302.29
1014
10
1014
921

In [ ]:
import pandas as pd
df = pd.read_csv("pridection.csv")

In [ ]:
for row in df.tail(1).iterrows():
    print(row[1]['new_time'])

29554.0

In [ ]:
from datetime import datetime

print(datetime.today().weekday())

4

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
X = np.array(df[['day' , 'temp' , 'feels_like' , 'temp_min' , 'temp_max' , 'pressure' , 'humidity' , 'sea_level' ,'grnd_level' , 'last_time']])
Y = np.array(df['new_time'])

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X , Y)

LinearRegression()

In [ ]:
X_new = np.array([[0,   302.29, 300.63, 302.29, 302.29, 1014,   10, 1014,   921,    29100]])

In [ ]:
print(X_new)

[[0.0000e+00 3.0229e+02 3.0063e+02 3.0229e+02 3.0229e+02 1.0140e+03
  1.0000e+01 1.0140e+03 9.2100e+02 2.9100e+04]]

In [ ]:
result = model.predict(X_new)

In [ ]:
result

array([29502.])

In [ ]:
import datetime
wil= str(datetime.timedelta(seconds=result[0])).split(":")

In [ ]:
time = wil[0] + ":" +wil[1] + " "+datetime.datetime.now().strftime("%p")

In [ ]:
time

'8:11 AM'

In [ ]:
new_time = '9:15 AM'

In [ ]:
new_time.split(" ")

['9:15', 'AM']

In [ ]:
"".join(new_time.split(":")["2"])

TypeError: list indices must be integers or slices, not str

In [1]:
import pandas as pd

In [4]:
db= pd.read_csv("../testing/test.csv")

In [7]:
for row in db.tail(1).iterrows():
    result = row[1]['hour']

In [8]:
result.split(" ")

['00', ':', '17', 'AM']

In [16]:
data = result.split(" ")[0]+":"+result.split(" ")[2]

In [17]:
data

'00:17'

In [12]:
import datetime

In [18]:
datetime.datetime.strptime(data, "%H:%M")

datetime.datetime(1900, 1, 1, 0, 17)

In [19]:
date_time = datetime.datetime.strptime(datetime.datetime.now().strftime("%H:%M"), "%H:%M")

In [20]:
date_time

datetime.datetime(1900, 1, 1, 10, 58)