In [2]:
db = pd.read_csv("test.csv")

In [11]:
db

          date        hour         type confidence            status
0  16 May 2022  06 : 15 AM  TAXI DRIVER      0.76%     New Detection
1  16 May 2022  06 : 23 AM  TAXI DRIVER      0.76%  Passed Detection
2  16 May 2022  06 : 24 AM  TAXI DRIVER      0.76%     New Detection
3  18 May 2022  08 : 35 am  TAXI DRIVER      0.85%  Passed Detection
4  19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
5  19 May 2022  05 : 39 am  TAXI DRIVER      0.83%     New Detection
6  19 May 2022  05 : 45 AM  TAXI DRIVER      0.83%     New Detection

In [14]:
for row in db.iterrows():
    print(row[1]['date'])

10 May 2022
10 May 2022
10 May 2022

In [12]:
latest = db['status'].value_counts()

In [6]:
latest

Passed Detection    17
New Detection        7
Name: status, dtype: int64

In [7]:
latest['Passed Detection']

17

In [8]:
latest['New Detection']

7

In [13]:
latest['New Detection'] - latest['Passed Detection']

1

In [24]:
test = db.iloc[[-1]]['confidence']

AttributeError: 'Series' object has no attribute 'iterrows'

In [40]:
for row in db.iloc[[-1]].iterrows():
    print(row[1]['confidence'].split("%")[0])

0.83

In [34]:
db.iloc[[-1]].iterrows()['confidence']

TypeError: 'generator' object is not subscriptable

In [36]:
db

          date        hour         type confidence            status
0  16 May 2022  06 : 15 AM  TAXI DRIVER      0.76%     New Detection
1  16 May 2022  06 : 23 AM  TAXI DRIVER      0.76%  Passed Detection
2  16 May 2022  06 : 24 AM  TAXI DRIVER      0.76%     New Detection
3  18 May 2022  08 : 35 am  TAXI DRIVER      0.85%  Passed Detection
4  19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
5  19 May 2022  05 : 39 am  TAXI DRIVER      0.83%     New Detection
6  19 May 2022  05 : 45 AM  TAXI DRIVER      0.83%     New Detection

7

In [3]:
import pandas as pd

In [4]:
db = pd.read_csv("test.csv")

In [5]:
db

           date        hour         type confidence            status
0   16 May 2022  06 : 15 AM  TAXI DRIVER      0.76%     New Detection
1   16 May 2022  06 : 23 AM  TAXI DRIVER      0.76%  Passed Detection
2   16 May 2022  06 : 24 AM  TAXI DRIVER      0.76%     New Detection
3   18 May 2022  08 : 35 am  TAXI DRIVER      0.85%  Passed Detection
4   19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
5   19 May 2022  05 : 39 am  TAXI DRIVER      0.83%     New Detection
6   19 May 2022  05 : 45 AM  TAXI DRIVER      0.83%     New Detection
7   19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
8   19 May 2022  08 : 24 AM  TAXI DRIVER      0.84%     New Detection
9   19 May 2022  08 : 39 AM  TAXI DRIVER      0.84%  Passed Detection
10  19 May 2022  08 : 25 AM  TAXI DRIVER      0.84%     New Detection
11  19 May 2022  08 : 40 AM  TAXI DRIVER      0.84%  Passed Detection
12  19 May 2022  08 : 26 AM  TAXI DRIVER      0.84%     New Detection
13  19 May 2022  08 : 41 AM  TAXI DRIVER      0.84%  Passed Detection
14  19 May 2022  08 : 26 AM  TAXI DRIVER      0.84%     New Detection
15  19 May 2022  08 : 41 AM  TAXI DRIVER      0.84%  Passed Detection