In [2]:
import pandas as pd

In [10]:
db = pd.read_csv("test.csv")

In [11]:
db

          date        hour         type confidence         status
0  10 May 2022  15 : 12 PM  TAXI DRIVER      0.79%  New Detection
1  10 May 2022  15 : 12 PM  TAXI DRIVER      0.79%  New Detection
2  10 May 2022  15 : 12 PM  TAXI DRIVER      0.79%  New Detection

In [14]:
for row in db.iterrows():
    print(row[1]['date'])

10 May 2022
10 May 2022
10 May 2022