In [2]:
db = pd.read_csv("test.csv")

In [11]:
db

          date        hour         type confidence            status
0  16 May 2022  06 : 15 AM  TAXI DRIVER      0.76%     New Detection
1  16 May 2022  06 : 23 AM  TAXI DRIVER      0.76%  Passed Detection
2  16 May 2022  06 : 24 AM  TAXI DRIVER      0.76%     New Detection
3  18 May 2022  08 : 35 am  TAXI DRIVER      0.85%  Passed Detection
4  19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
5  19 May 2022  05 : 39 am  TAXI DRIVER      0.83%     New Detection
6  19 May 2022  05 : 45 AM  TAXI DRIVER      0.83%     New Detection

In [14]:
for row in db.iterrows():
    print(row[1]['date'])

10 May 2022
10 May 2022
10 May 2022

In [12]:
latest = db['status'].value_counts()

In [6]:
latest

Passed Detection    17
New Detection        7
Name: status, dtype: int64

In [7]:
latest['Passed Detection']

17

In [8]:
latest['New Detection']

7

In [13]:
latest['New Detection'] - latest['Passed Detection']

1

In [24]:
test = db.iloc[[-1]]['confidence']

AttributeError: 'Series' object has no attribute 'iterrows'

In [40]:
for row in db.iloc[[-1]].iterrows():
    print(row[1]['confidence'].split("%")[0])

0.83

In [34]:
db.iloc[[-1]].iterrows()['confidence']

TypeError: 'generator' object is not subscriptable

In [36]:
db

          date        hour         type confidence            status
0  16 May 2022  06 : 15 AM  TAXI DRIVER      0.76%     New Detection
1  16 May 2022  06 : 23 AM  TAXI DRIVER      0.76%  Passed Detection
2  16 May 2022  06 : 24 AM  TAXI DRIVER      0.76%     New Detection
3  18 May 2022  08 : 35 am  TAXI DRIVER      0.85%  Passed Detection
4  19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
5  19 May 2022  05 : 39 am  TAXI DRIVER      0.83%     New Detection
6  19 May 2022  05 : 45 AM  TAXI DRIVER      0.83%     New Detection

7

In [3]:
import pandas as pd

In [4]:
db = pd.read_csv("test.csv")

In [5]:
db

           date        hour         type confidence            status
0   16 May 2022  06 : 15 AM  TAXI DRIVER      0.76%     New Detection
1   16 May 2022  06 : 23 AM  TAXI DRIVER      0.76%  Passed Detection
2   16 May 2022  06 : 24 AM  TAXI DRIVER      0.76%     New Detection
3   18 May 2022  08 : 35 am  TAXI DRIVER      0.85%  Passed Detection
4   19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
5   19 May 2022  05 : 39 am  TAXI DRIVER      0.83%     New Detection
6   19 May 2022  05 : 45 AM  TAXI DRIVER      0.83%     New Detection
7   19 May 2022  03 : 54 am  TAXI DRIVER      0.81%  Passed Detection
8   19 May 2022  08 : 24 AM  TAXI DRIVER      0.84%     New Detection
9   19 May 2022  08 : 39 AM  TAXI DRIVER      0.84%  Passed Detection
10  19 May 2022  08 : 25 AM  TAXI DRIVER      0.84%     New Detection
11  19 May 2022  08 : 40 AM  TAXI DRIVER      0.84%  Passed Detection
12  19 May 2022  08 : 26 AM  TAXI DRIVER      0.84%     New Detection
13  19 May 2022  08 : 41 AM  TAXI DRIVER      0.84%  Passed Detection
14  19 May 2022  08 : 26 AM  TAXI DRIVER      0.84%     New Detection
15  19 May 2022  08 : 41 AM  TAXI DRIVER      0.84%  Passed Detection

In [2]:
import datetime

str(datetime.timedelta(hours=15))

3669.0

In [41]:
import datetime

time = "08:05"
date_time = datetime.datetime.strptime(time, "%H:%M")
a_timedelta = date_time - datetime.datetime(1900, 1, 1)
seconds = a_timedelta.total_seconds()

In [42]:
seconds

29100.0

In [7]:
str(datetime.timedelta(seconds=seconds))

'1:01:09'

In [75]:
import requests, json
BASE_URL = "https://api.openweathermap.org/data/2.5/weather?"
URL = BASE_URL + "q=khouribga&appid=b95aec434694dd2839ad0fd6810ef875"
response = requests.get(URL)

if response.status_code == 200:
    data = response.json()
    print(data['main'])
    weather = data['main']
else:
   print("Error in the HTTP request")

{'temp': 302.29, 'feels_like': 300.63, 'temp_min': 302.29, 'temp_max': 302.29, 'pressure': 1014, 'humidity': 10, 'sea_level': 1014, 'grnd_level': 921}

In [76]:
for i in weather.values():
    print(i)

302.29
300.63
302.29
302.29
1014
10
1014
921

In [77]:
import pandas as pd
df = pd.read_csv("pridection.csv")

In [86]:
for row in df.tail(1).iterrows():
    print(row[1]['new_time'])

29554.0

In [88]:
from datetime import datetime

print(datetime.today().weekday())

4

In [68]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [69]:
X = np.array(df[['day' , 'temp' , 'feels_like' , 'temp_min' , 'temp_max' , 'pressure' , 'humidity' , 'sea_level' ,'grnd_level' , 'last_time']])
Y = np.array(df['new_time'])

In [70]:
model = LinearRegression()

In [71]:
model.fit(X , Y)

LinearRegression()

In [72]:
X_new = np.array([[0,   302.29, 300.63, 302.29, 302.29, 1014,   10, 1014,   921,    29100]])

In [73]:
result = model.predict(X_new)

In [94]:
import datetime
wil= str(datetime.timedelta(seconds=result[0])).split(":")

In [97]:
time = wil[0] + ":" +wil[1] + " "+datetime.datetime.now().strftime("%p")

In [98]:
time

'8:11 AM'